@model Code.Models.SearchViewModels.SearchResultViewModel

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/myStyleTwo.css" />

<div class="row">
	<div class="col-md-3" id="users-section">
		@foreach(var user in Model.Users)
		{
			<div class="text-center">
				<div class="row" id="user">
					<div class="col-md-5">
						<img src="~/uploads/@user.Id/@user.ProfilePictureName" />
					</div>
					<div class="col-md-7">
						<h4>@user.FirstName @user.LastName</h4>
						<p><span class="glyphicon glyphicon-home"></span> @user.Location</p>
						<ul id="albums-information">
							<li><strong>@user.TotalAlbums</strong> albums</li>
							<li><strong>@user.TotalImages</strong> images</li>
							<li><strong>@user.TotalLikes</strong> likes</li>
						</ul>
					</div>
				</div>
			</div>

		}
	</div>
	<div class="col-md-8 col-md-offset-1 text-center" id="albums-section">
		 @foreach (var album in Model.Albums)
		 {
			 var images = Model.Images.Where(img => img.Album.Id == album.Id).Take(6).ToArray();

			<div id="album">
				<h1>@album.Name</h1>
				<hr />
				<p>@album.Description</p>
				<div id="images">
					@foreach (var image in images)
					{
						<img src="~/uploads/@album.Creator.Id/@album.Id/@image.Name" />

					}
				</div>
				<br />
				<p class="pull-right" style="margin-right: 10px;">by @album.Creator.FirstName @album.Creator.LastName</p>
				<br />
				<br />
				<button class="btn btn-primary">
					@(Html.ActionLink<AlbumsController>("View", c => c.Details(album.Id, album.Creator.Id)))
				</button>
				<br />
				<br />
			</div>

		 }
	</div>

</div>