@model RegisterViewModel
@{
	ViewData["Title"] = "Register";
}

<div class="row">

	<div class="col-md-6">
		@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register_form text-center" }))
		{
			<br />
			@Html.TextBoxFor(m => m.Username, new { @placeholder = "Username", @class = "form-control u_input" })
			@Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
			<br />
			@Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control u_input" , @type = "email" })
			@Html.ValidationMessageFor(m => m.Email, null,  new { @class = "text-danger" })
			<br />
			@Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @class = "form-control u_input", @type = "password" })
			@Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
			<br />
			@Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm password", @class = "form-control u_input", @type = "password" })
			@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
			<br />
			@Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", @class = "form-control u_input" })
			@Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
			<br />
			@Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name", @class = "form-control u_input" })
			@Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
			<br />
			<br />
			<input type="submit" value="Register" class="btn btn-primary" />
			<br />
			<br />
		}
	</div>

	<div class="col-md-5 col-md-offset-1 benefits">

		<div class="col-md-4 section">
			<h3 class="text-center">Comment</h3>
			<hr />
			<ul class="benefit">
				<li>
					<span class="glyphicon glyphicon-ok"></span> What better way to show favour to an album than giving a feedback! Comment you favourite content!
				</li>
			</ul>
		</div>
		<div class="col-md-4 section">
			<h3 class="text-center">Upload</h3>
			<hr />
			<ul class="benefit">
				<li>
					<span class="glyphicon glyphicon-ok"></span> Sharing memories is the best way to express yourself , with <strong>Photos</strong> that is an easy task!
					 Post photos or create your own album to share with the world!
				</li>
			</ul>
		</div>

		<div class="col-md-4 section">
			<h3 class="text-center">Rate</h3>
			<hr />
			<ul class="benefit">
				<li>
					<span class="glyphicon glyphicon-ok"></span> People value others opinion, that is how we know we are on the right path! By 
					rating others' content you are helping their improvement!
				</li>
			</ul>
		</div>

	</div>

	@section Scripts {
		@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	}
</div>