@model Code.Models.AdminViewModels.AdminViewModel


<div id="s_admin_users">
	<h3 style="background-color: green; color: white;" class="text-center">Admins</h3>
	<table id="s_admin_users-table">
		<tr>
			<th></th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Admin</th>
			<th>Inspect</th>
			<th>Take Administrative Rights</th>
		</tr>
		@foreach (var user in Model.Admins)
		{
			<tr>
				@if (user.ProfilePictureName != null)
				{
					<td><img src="~/uploads/@user.Id/@user.ProfilePictureName" id="image" /></td>
				}
				else
				{
					<td><img src="~/images/no-profile-image.jpg" id="image" /></td>
				}
				<td>@user.FirstName</td>
				<td>@user.LastName</td>
				<td>@user.Email</td>
				@if (user.isAdmin == true)
				{
					<td><span class="glyphicon glyphicon-ok"></span></td>
				}
				else
				{
					<td><span class="glyphicon glyphicon-remove"></span></td>
				}
				<td>
					<a href="@(Url.Action("UserDetails", "Admin", new { @userId = user.Id }))">
						<span class="glyphicon glyphicon-link"></span>
					</a>
				</td>
				<td>
					<a class="" href="@(Url.Action("TakeRights", "SuperAdmin", new { @userId = user.Id, @page = ViewBag.CurrentPage}))">
						<span class="glyphicon glyphicon-minus" style="color: red"></span>
					</a>
				</td>
			</tr>
		}
	</table>
</div>

<div id="s_admin_users">
	<h3 style="background-color: green; color: white;" class="text-center">Users</h3>
	<table id="s_admin_users-table">
		<tr>
			<th></th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Admin</th>
			<th>Inspect</th>
			<th>Give Administrative Rights</th>
		</tr>
		@foreach (var user in Model.Users)
		{
			<tr>
				@if (user.ProfilePictureName != null)
				{
					<td><img src="~/uploads/@user.Id/@user.ProfilePictureName" id="image" /></td>
				}
				else
				{
					<td><img src="~/images/no-profile-image.jpg" id="image" /></td>
				}
				<td>@user.FirstName</td>
				<td>@user.LastName</td>
				<td>@user.Email</td>
				@if (user.isAdmin == true)
				{
					<td><span class="glyphicon glyphicon-ok"></span></td>
				}
				else
				{
					<td><span class="glyphicon glyphicon-remove"></span></td>
				}
				<td>
					<a href="@(Url.Action("UserDetails", "Admin", new { @userId = user.Id }))">
						<span class="glyphicon glyphicon-link"></span>
					</a>
				</td>
				<td>
					<a class="" href="@(Url.Action("GiveRights", "SuperAdmin", new { @userId = user.Id, @page = ViewBag.CurrentPage}))">
						<span class="glyphicon glyphicon-plus" style="color: green"></span>
					</a>
				</td>
			</tr>
		}
	</table>
</div>

@Html.Partial("_PagingSuperAdminUsersPartial");