@model Code.Models.ProfileViewModels.MyProfileViewModel


<div class="row u_profile">

	<div class="col-md-3 u_info text-center">
		@if (Model.ProfilePictureName != null)
		{
			<img src="~/uploads/@Model.Id/@Model.ProfilePictureName" class="u_profile_img" />
		}
		else
		{
			<img src="~/uploads/@Model.Id/@Model.ProfilePictureName" class="u_profile_img" />
		}
		<h3>@Model.FirstName @Model.LastName</h3>
		@{ var totalImages = 0;}
		@foreach (var album in Model.MyAlbums)
		{
			totalImages += album.AlbumImages.Count();
		}
		<ul class="u_activity_info">
			<li><strong>@Model.AlbumCount</strong> albums</li>
			<li><strong>@Model.ImagesCount</strong> images</li>
			<li><strong>@Model.CommentsCount</strong> comments</li>
			<li><strong>@Model.LikesCount</strong> likes</li>
		</ul>
		<p>@Model.Location</p>
		@if (Model.Description != null)
		{
			<p>@Model.Description</p>
		}
		<ul class="u_actionlinks">
			<li>
				<a href="@(Url.Action("Upload", "Image"))" class="btn btn-primary" title="Upload photo">
					<span class="glyphicon glyphicon-picture"></span>
				</a>
			</li>
			<li>
				<a href="@(Url.Action("Create", "Albums"))" class="btn btn-primary" title="Create new album">
					<span class="glyphicon glyphicon-folder-open"></span>
				</a>
			</li>
			<li>
				<a href="@(Url.Action("Edit", "MyProfile"))" class="btn btn-default" title="Edit Profile">
					<span class="glyphicon glyphicon-cog"></span>
				</a>
			</li>
			<li class="signout">
				<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post">
					<button type="submit" class="btn btn-danger" title="Sign out">
						<span class="glyphicon glyphicon-log-out"></span>
					</button>
				</form>
			</li>
		</ul>
	</div>

	<div class="col-md-9 u_uploads">

		@if (Model.MyImages.Count > 0)
		{
			<div class="row">

				@foreach (var image in Model.MyImages)
				{
					<div class="col-md-4  text-center u_image">
						<img src="@image.Path" style="height: initial; width:100%;" />
						<h4><strong>@image.Name</strong> @image.Description</h4>
					</div>
				}
			</div>

			<div class="row">
				<div class="text-center">
					<a href="@(Url.Action("MyImagesAll", "MyProfile"))" class="btn btn-primary">View All</a>
				</div>
			</div>

		}
		@if (Model.MyAlbums.Capacity > 0)
		{
			<div class="row">
				<hr style="background-color: black; height: 1px; border: 1px;" />

				@foreach (var album in Model.MyAlbums)
				{
					<div class="col-md-4 u_album text-center">

						<h3 class="text-center">@album.Name</h3>

						@if (album.AlbumImages.Capacity > 0)
					{
							<div id="album-with-pictures" class="carousel slide" data-ride="carousel" data-interval="4000" data-delay="3000">

								<div class="carousel-inner" role="listbox">

									@foreach (var image in album.AlbumImages)
									{
										var firstImage = album.AlbumImages.First();

										if (image == firstImage)
										{
											<div class="item active">
												<img src="@image.Path" alt="Chania" class="u_album_img" />
											</div>
										}
										else
										{
											<div class="item">
												<img src="@image.Path" alt="Chania" class="u_album_img" />
											</div>
										}
									}
								</div>
							</div>
					}
					else
					{
							<img src="~/images/album_with_no_images.jpg" />
					}

						<div class="a_details_link">
							<a href="@(Url.Action("Details", "Albums", new { @albumId = album.Id, @userId = Model.Id }))" title="View" class="pull-right">
								<span class="glyphicon glyphicon-option-horizontal"></span>
							</a>
						</div>
					</div>
				}
			</div>

			<div class="text-center" style="margin-top: 10px;">
				<a href="@(Url.Action("MyAlbumsAll", "MyProfile"))" class="btn btn-primary">View All</a>
			</div>

		}
	</div>

	<div class="clearfix"></div>
