@model ParentProfileViewModel

<div class="flex-container" id="user-profile">
	<div class="flex-item" id="profile-picture-area">
		@if (Model.User.ProfilePicture == null)
		{
			<img src="~/images/no-profile-image.jpg" class="profile-picture" />
		}
		else
		{
			<img src="~/uploads/@Model.User.Id/@Model.User.ProfilePicture" class="profile-picture" />
		}
	</div>
	<div class="flex-item" id="user-information">
		<div class="row text-center">
			@if (Model.User.FirstName == null)
			{
				<h2>@Model.User.Email</h2>
			}
			else
			{
				<h2>@Model.User.FirstName</h2>
			}
		</div>
		<hr />
		<div class="row text-center">
			@if (Model.User.Description != null)
			{
				<div class="row text-center" id="description-area">
					<p>@Model.User.Description</p>
				</div>
			}
		</div>
		<hr />
		<div class="row" id="flex-item-inner">
			<ul id="albums-info">
				@if (Model.Albums.Count > 1)
				{
					<li><strong>@Model.Albums.Count</strong> albums</li>
				}
				else
				{
					<li><strong>@Model.Albums.Count</strong> album</li>
				}
				<li>(totalPics) photos</li>
				<li>(totalLikes) likes</li>
			</ul>
		</div>
		<hr />
		@if (Model.User.Location != null && Model.User.Age > 0 &&
						Model.User.Email != null)
		{
			<div class="row" id="flex-item-inner">
				<ul id="person-info">
					<li id="location"><span class="glyphicon glyphicon-home" style="margin-right: 10px;"></span>@Model.User.Location</li>
					<li id="email"><span class="glyphicon glyphicon-envelope" style="margin-right: 10px;"></span>@Model.User.Email</li>
				</ul>
			</div>
			<hr />
		}
		<div class="row" id="flex-item-inner">
			<ul id="profile-buttons">
				<li id="create">@(Html.ActionLink<AlbumsController>("Create Album", c => c.Create()))</li>
				<li id="edit">@(Html.ActionLink<MyProfileController>("Edit Profile", c => c.Edit()))</li>
			</ul>
		</div>
	</div>
</div>

<br />
<hr />

@if (Model.Albums == null || !Model.Albums.Any())
{
	<div class="col-md-6 col-md-offset-3 text-center">
		<h1>You don't have any albums.</h1>
	</div>
}
else
{
	for (int i = 0; i < Model.Albums.Count; i++)
	{
		var album = Model.Albums[i];
		<div class="col-md-4 text-center">
			<h2>@(Html.ActionLink<AlbumsController>(album.Name, c => c.Details(album.Id)))</h2>
			<br />
			<h4>@album.Creator</h4>
		</div>
	}
}

<div class="clearfix"></div>